:root {
  --primary: #a7d406;
  --secondary: #fffef0; 
  --dark: #000;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--dark);
  border-bottom: 2px solid #303331;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav #container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h2 {
  color: var(--secondary);
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-icon {
  color: var(--secondary);
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.nav-icon:hover {
  color: var(--primary);
  transform: scale(0.96);
}

a {
  text-decoration: none;
  color: inherit;
}