@font-face {
  font-family: "Lota Grotesque Semi Bold";
  src: url("../assets/fonts/LosAndesLotaGrotesqueSemiBold.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary: #a7d406;
  --secondary: #fffef0; 
  --dark: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

body,
html {
  font-family: "Saira Semi Condensed", "Poppins", sans-serif;
  background-color: var(--dark);
  color: var(--secondary);
}
::-webkit-scrollbar {
  background-color: #101010;
  width: 4px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary) !important;
  cursor: pointer;
}
body {
  padding-top: 80px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--dark);
  border-bottom: 2px solid #303331;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h2 {
  color: var(--secondary);
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-icon {
  color: var(--secondary);
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.nav-icon:hover {
  color: var(--primary);
  transform: scale(0.96);
}

/* hidden nav */
nav.hidden {
  display: none;
}
.close-btn {
  height: 40px;
  color: var(--secondary);
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
  float: right;
}
nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 20vw;
  background: rgb(0 0 0 / 91%);
  backdrop-filter: blur(2px);
  padding: 20px 10px;
  z-index: 99999;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}
nav ul {
  list-style-type: none;
  margin-top: 2rem;
  padding: 0;
  text-align: center;
}
nav ul li {
  padding-top: 1rem;
  font-size: 2rem;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
  display: block;
  position: relative;
}

nav ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: var(--primary);
  transition: width 0.4s ease-out;
}

nav ul li:hover::after {
  width: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: var(--primary);
  padding: 15px 25px;
  width: 250px;
  position: relative;
}
.search-input {
  border: none;
  outline: none;
  background: none;
  color: var(--dark);
  flex: 1;
}
.search-container input[type="text"]{
  font-family: "Saira Semi Condensed", "Poppins", sans-serif;
  font-size: 15px;
}
.search-input::placeholder {
  color: (var(--dark));
  font-style: inherit;
}
.search-container img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
nav.active {
  transform: translateX(0);
} 
.my-nav-area {
  padding-left: 10px;
  font-family: "Lota Grotesque Semi Bold";
}



main {
  padding: 2% 3%;
}

main .allblog {
  font-family: "Lota Grotesque Semi Bold";
  font-size: 3.5rem;
  padding: 0 2% 2%;
  text-align: center;
}

main img {
  max-width: 100%;
  height: 50%;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}
.image-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  border-radius: 20px;
  display: inline-block;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
}

.overlay-text {
  font-family: "Poppins";
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-align: left;
  padding: 30px;
  border-radius: 15px;
  max-width: 100%;
  margin: 10px;
  backdrop-filter: blur(2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.overlay-text h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overlay-text p {
  font-size: 1.2rem;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

#recent_blogs {
  padding: 4% 0;
}

.recents {
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recents h2{
  font-weight: 600;
}
.view-btn, .view-all {
  background-color: #a7d406;
  color: rgb(8, 10, 88);
  border-radius: 5px;
  padding: 10px 15px;
  font-weight: 500;
}

#grid-container {
  font-family: "Poppins";
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-item {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
}

.grid-item:hover {
  transform: translateY(-10px);
}

.grid-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.grid-item h3 {
  margin: 10px 0 5px;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--secondary);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-item p {
  font-size: 0.9em;
  color: var(--secondary);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view{
  max-width: fit-content;
  margin: 15px auto;
}
.view-all{
  padding: 10px 30px;
}

.fixed-buttons {
  position: fixed;
  bottom: 10px;
  right: 25px;
  z-index: 99;
}
.floating-menu {
  background-color: var(--primary);
  height: 50px;
  padding: 25%;
  cursor: pointer;
}

footer{
  border-top: 2px solid #303331;
  margin: 2% 6%;
}

footer p{
  padding-top: 10px;
  text-align: center;
  color: #303331;
  font-size: small;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }

  nav {
    width: 40vw;
  }

  .recents h2 {
    font-size: 1.3rem;
  }
  .view-btn {
    font-size: 0.9rem;
  }

  .image-container img {
    border-radius: 2%;
  }
  #largearea .overlay {
    position: relative;
    margin-top: 1rem;
    background: transparent;
    padding-bottom: 0;
  }
  #largearea .overlay-text {
    padding: 10px;
    position: static;
    margin: 8px;
  }
  #largearea .overlay-text h2 {
    font-size: 1.2rem;
  }
  #largearea .overlay-text p {
    font-size: 0.9rem;
  }

  .view{
    max-width: fit-content;
    margin: 5% auto;
  }

  main .allblog {
    font-size: 2.3rem;
  }
}

@media (max-width: 425px) {
  nav {
    width: 90vw;
  }
}